body {
  overflow-x: hidden;
}

.primary {
  color: #007bb5;
}

header {
  top: 0;
  left: 0;
  height: 110px;
  position: fixed;
  width: 100%;
  z-index: 100;
  background: #fff;
  line-height: 110px;
}

header a.logo {
  float: left;
}

.logo img {
  width: 250px;
}

header nav {
  float: right;
  font-weight: bold;
}

header nav ul li {
  padding-left: 30px;
}

header nav ul li a {
  color: gray;
  transition: all 0.3s ease-in;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
}

header nav ul li a:hover,
header nav ul li a:focus {
  color: #08387f;
  text-decoration: none;
}

/***** slider section *****/

.slider,
.slider ul.slider-carousel,
.slider ul.slider-carousel li {
  height: 100vh;
  width: 100%;
  text-align: center;
  color: #fff;
}

.slider ul.slider-carousel li h1 {
  font-weight: 700 !important;
  font-size: 5rem;
  margin-top: 30vh;
  margin-bottom: 30px;
  color: #fff;
}

.slider ul.slider-carousel li p {
  margin-bottom: 50px;
  font-weight: bold;
}

.slider ul.slider-carousel li a {
  padding: 10px 50px;
  margin-right: 30px;
  color: #fff;
  font-weight: bold;
  transition: all 0.3s ease-in;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
}

.slider ul.slider-carousel li a:last-child {
  margin-right: 0px;
}

#slider h1 {
  font-size: 4rem !important;
}

#slider p {
  font-size: 1.5rem !important;
}

.img1 {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.8)),
    url(./img/tbi/banner-1.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
}

.img2 {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.7)),
    url(./img/tbi/banner-3.jpg);
  background-size: cover;
  height: 100vh;
}

.img3 {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.7)),
    url(./img/tbi/banner-5.jpg);
  background-size: cover;
  height: 100vh;
}

.slider ul.slider-carousel li a.cta1:hover {
  background-color: #334c89;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
}

.slider ul.slider-carousel li a.cta2:hover {
  background-color: #3f9cfa;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
}

.slider ul.sliderpager li {
  padding: 0 3px;
  height: 28px;
  line-height: 28px;
}

.slider li a {
  color: #34495e;
}

.slider-carousel h1 {
  width: 70%;
  font-size: 3rem !important;
  margin: 100px auto;
}

.slider-carousel p {
  width: 70%;
  font-weight: 400 !important;
  text-shadow: 1px 1px 2px black;
  font-size: 1.3rem !important;
  margin: 5px auto;
}

.slider ul.sliderpager li.selected a {
  color: #08387f;
}

/**** services section ****/

.services {
  text-align: center;
}

.services .services-content i {
  font-size: 6rem;
  color: #555;
  text-shadow: 1px 1px 5px gray;
}

.services-header,
.portfolio-header,
.team-header,
.testimonials-header,
.blog-header,
.contact-header {
  margin-bottom: 42px;
  text-align: center;
}

.services i {
  font-size: 10rem;
}

.services-content .animation {
  margin: 20px;
}

#blog img {
  height: 200px;
}

#portfolio img {
  height: 200px;
  width: 265px;
}

.portfolio {
  color: #fff;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.7)),
    url("./img/banner_1512613619.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.portfolio .inner-content {
  position: relative;
  width: 265px;
  height: 200px;
}

.portfolio .inner-content img {
  width: 100%;
  height: 100%;
}

.portfolio .inner-content .overlay-content {
  position: absolute;
  top: 100%;
  left: 0px;
  text-align: center;
  background: rgba(0, 0, 0, 0.8);
  width: 100%;
  height: 100%;
  transition: all 0.3s ease-in;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
}

.portfolio-carousel li {
  margin-right: 10px;
  margin-left: 10px;
}

.portfolio .inner-content .overlay-content h3,
.portfolio .inner-content .overlay-content p {
  color: white;
}

.portfolio .inner-content .overlay-content h3 {
  color: #08387f;
}

.portfolio .inner-content:hover .overlay-content {
  top: 0px;
}

.portfolio .inner-content .overlay-content p a {
  color: #2d82d8;
  font-weight: bold;
}

.portfolio .portfolio-nav {
  text-align: center;
  margin-top: 30px;
}

.portfolio .portfolio-nav li {
  cursor: pointer;
  margin-right: 10px;
  font-size: 14px;
  width: 28px;
  height: 28px;
  line-height: 28px;
  background-color: #333;
  color: #fff;
  font-weight: bold;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
}

.portfolio .portfolio-nav li:last-child {
  margin-right: 0px;
}

.portfolio .portfolio-nav li:hover {
  background-color: #08387f;
}

/*****divider**************/
.divider {
  background: linear-gradient(to right, #eec213, #ea7773, #3498db, #e44236);
  height: 5px;
}

.divider4 {
  background: linear-gradient(to right, #f47b20, #fff);
  height: 5px;
  border-radius: 5px;
}

.divider5 {
  height: 5px;
  border-radius: 5px;
  background: linear-gradient(to right, #fff, #3498db, #fff);
}

.divider2 {
  background: linear-gradient(to right, #fff, #f47b20, #fff);
  height: 5px;
  border-radius: 5px;
}

.divider3 {
  background: linear-gradient(to right,
      rgba(0, 0, 0, 0.3),
      #e44236,
      rgba(0, 0, 0, 0.3));
  height: 5px;
  border-radius: 5px;
}

/******************/

/*****Image slider*********/
#image_gallery .carousel-container {
  margin: 0 auto;
}

#image_gallery .carousel-container .carousel-image {
  width: 620px;
}

#image_gallery {
  padding-bottom: 50px;
}

a {
  text-decoration: none;
  color: #2f8aff;
}

.carousel-container {
  position: relative;
  width: 70vw;
}

.carousel-main {
  height: 400px;
  width: 70vw;
  position: relative;
  margin-bottom: 0.5em;
  font-size: 2rem;
  font-family: Arial;
}

.carousel-feature {
  position: absolute;
  top: -1000px;
  left: -1000px;
  border-radius: 10px;
  cursor: pointer;
  text-align: center;
  box-shadow: 0 0 15px 3px rgba(0, 0, 0, 0.1);
  background-color: #fff;
}

.carousel-feature a {
  font-size: 18px;
}

.carousel-image {
  height: 300px;
  border: 0;
  display: block;
}

p {
  text-align: center;
}

/***About Us section****/

.about {
  margin-top: 10px;
}

.about p {
  text-align: justify;
}

#about .card {
  box-shadow: 1px 1px 5px gray;
  margin-top: 70px;
  text-align: center;
  height: 250px;
}

#about h1 {
  margin-bottom: 5px;
}

.card-body {
  padding: 20px;
}

#about img {
  border-left: 5px solid #f47b20;
  padding-left: 30px;
  margin-top: 50px;
}

#vission_mission .card .card-title {
  font-size: 3rem;
  font-weight: bold;
}

#vission_mission .card .card-text {
  font-size: 2rem;
  text-transform: capitalize;
  font-weight: bold;
}

#vission_mission img {
  height: 240px;
}

/**** team section ****/
#team {
  background: url("./img/tbi/banner-12.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: #fff;
  margin: 100px 0px;
}

#team h1 {
  color: #fff;
}

#team p {
  width: 80%;
  margin: 0 auto;
}

.team .inner-content {
  position: relative;
  width: 265px;
  height: 225px;
  margin: 20px;
}

.team .inner-content img {
  width: 100%;
  height: 100%;
  border: 3px solid gray;
  border-radius: 5px;
}

.team .inner-content .overlay-content {
  position: absolute;
  top: 100%;
  left: 0px;
  text-align: center;
  background: linear-gradient(to bottom,
      rgba(0, 0, 0, 0) 10%,
      rgba(0, 0, 0, 0.9));
  width: 100%;
  height: 100%;
  transition: all 0.3s ease-in;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
}

.team .inner-content .overlay-content {
  padding-top: 100px;
}

.team .primary {
  color: white;
  margin: 10px 0px;
}

.team .secondary-sky-blue {
  color: #7f8fa6;
  margin-bottom: 10px !important;
}

.team-carousel li {
  margin-right: 10px;
  margin-left: 10px;
}

.team .inner-content:hover .overlay-content {
  top: 0px;
}

.team .team-nav {
  text-align: center;
  margin-top: 30px;
}

.team .team-nav li {
  cursor: pointer;
  margin-right: 10px;
  font-size: 14px;
  width: 28px;
  height: 28px;
  line-height: 28px;
  background-color: #333;
  color: #fff;
  font-weight: bold;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
}

.team .team-nav li:last-child {
  margin-right: 0px;
}

.team .team-nav li:hover {
  background-color: #08387f;
}

.team-carousel .inner-content p.name {
  padding-top: 15%;
}

.team-carousel .inner-content p.description {
  padding: 0 15px;
}

ul.member-social-links li {
  font-size: 14px;
  width: 28px;
  height: 28px;
  line-height: 28px;
}

ul.member-social-links li a {
  color: #fff;
}

ul.member-social-links li i {
  width: 28px;
  height: 28px;
  line-height: 28px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
}

ul.member-social-links li i.fa-facebook {
  background-color: #3b5998;
}

ul.member-social-links li i.fa-twitter {
  background-color: #00aced;
}

ul.member-social-links li i.fa-linkedin {
  background-color: rgb(0, 123, 182);
}

.testimonials {
  background: url("./img/tbi/banner-8.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: #fff;
  margin: 150px 0px 100px 0px;
}

.testimonials .name {
  color: #fff !important;
}

.testimonials .position {
  color: #777 !important;
}

.testimonial-carousel li {
  text-align: center;
  margin: 0 200px;
}

blockquote {
  border: none;
  line-height: 1.5em;
  position: relative;
  font-size: 14px;
  color: #fff;
  display: inline-block;
  padding: 0;
  display: none;
}

blockquote:before {
  position: absolute;
  content: "\f10d";
  top: -5px;
  left: -20px;
  font-family: FontAwesome;
}

blockquote:after {
  position: absolute;
  content: "\f10e";
  bottom: -5px;
  right: -20px;
  font-family: FontAwesome;
}

.testimonial-carousel li img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  margin-bottom: 30px;
}

.testimonial-carousel li p.name {
  color: #08387f;
  font-weight: bold;
}

.testimonial-carousel li p.position {
  font-weight: bold;
  margin-bottom: 30px;
}

.testipager li {
  margin-right: 5px;
}

.testipager li:last-child {
  margin-right: 0px;
}

.testipager li a {
  color: #fff;
}

.testipager li.selected a {
  color: #08387f;
}

/*** blog ***/

.blog b.date {
  color: #333;
}

.blog h3 a {
  transition: all 0.3s ease-in;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
}

.blog h3 a:hover {
  color: #08387f;
}

.blog .row p {
  text-align: justify;
}

/*** contact section ***/

.contact {
  background: url("./img/tbi/banner-4.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: #fff;
  margin: 100px 0px;
}

form.contact-form {
  width: 40%;
  margin: 0 auto;
  text-align: center;
}

input:not([type="submit"]),
textarea {
  width: 100%;
  margin-bottom: 40px;
  color: #777;
  padding-left: 20px;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2) inset;
  border: none;
}

input:not([type="submit"]) {
  height: 40px;
  line-height: 40px;
}

textarea {
  padding-top: 10px;
}

#submit {
  padding: 10px 30px;
  color: #fff;
  background-color: #08387f;
  border: none;
  font-weight: bold;
}

/* footer */

footer {
  padding-top: 56px;
}

footer h1 {
  padding-bottom: 28px;
}

footer p i {
  color: #2d82d8;
}

footer p span {
  padding-left: 15px;
  font-weight: bold;
}

footer p {
  text-align: justify;
}

footer p.about {
  margin-bottom: 20px;
}

form.update-form input:not([type="submit"]),
textarea {
  width: 100%;
  margin-bottom: 40px;
  color: #777;
  padding-left: 20px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2) inset;
  border: none;
}

#take-email {
  margin-bottom: 20px;
}

#submit-button {
  background-color: #08387f;
  color: #fff;
  border: none;
  padding: 0px 30px;
  height: 40px;
  line-height: 40px;
  font-weight: bold;
}

.footer-social-links li {
  padding: 0 10px;
  font-size: 28px;
}

.footer-social-links li a i.fa-facebook {
  color: #3b5998;
}

.footer-social-links li a i.fa-twitter {
  color: #00aced;
}

.footer-social-links li a i.fa-youtube {
  color: #bb0000;
}

.footer-social-links li a i.fa-linkedin {
  color: #007bb5;
}

.footer-social-links li a i.fa-dribbble {
  color: #ea4c89;
}

.copyright {
  text-align: center;
  color: #fff;
  background-color: #333;
  height: 42px;
  line-height: 42px;
  margin-top: 56px;
}

footer p span.primary {
  padding-left: 0px;
}

.copyright p {
  margin: 0 0 0 0;
}

.nav-background {
  box-shadow: 1px 1px 10px gray;
  background: #fff;
  color: gray !important;
}

.nav-background-transparent {
  background: #fff;
  box-shadow: none;
}

.copyright p {
  text-align: center;
}

/*************Overview*************/
#overview .row p {
  text-align: left;
  text-shadow: 0.5 1px 1px gray;
}

#overview li {
  font-weight: 700 !important;
  list-style-type: disc;
  margin: 10px 20px;
}

.wrapper {
  padding: 0px 20px;
}

.svg-container {
  display: inline-block;
  position: relative;
  width: 100%;
  padding-bottom: 100%;
  vertical-align: middle;
  overflow: hidden;
  background: #f5f3e7;
}

.svg-content {
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
}

.selection {
  width: 80%;
  margin-left: auto;
}

.d_none {
  display: block;
}

@media screen and (max-width: 1224px) {
  .d_none {
    display: none;
  }

  header nav ul li {
    padding-left: 10px;
  }

  #slider {
    margin-top: 100px !important;
  }
}

/************************/
@media screen and (max-width: 768px) {


  #slider {
    margin-top: 100px !important;
  }

  #image_gallery .carousel-container .carousel-image {
    width: 30vw;
  }

  #image_gallery p {
    font-size: 0.8rem;
  }

  .carousel-main,
  .carousel-container {
    width: 95vw;
    padding: 2vw;
  }

  #slider #slider-carousel h1 {
    font-size: 2.5rem !important;
  }

  #slider #slider-carousel li {
    margin-top: 0px;
  }

  #image_gallery .carousel-container .carousel-image {
    width: 50vw;
    height: 30vw;
  }

  #image_gallery p {
    font-size: 1.5rem;
    background: #7f8fa6;
    color: white;
    font-weight: bold !important;
    box-shadow: 1px 1px 1px gray;
  }
}

@media screen and (max-width: 480px) {
  .logo img {
    width: 200px;
  }

  .d_none {
    display: block;
  }

  #vission_mission img {
    height: 140px;
  }

  #team li img {
    width: 80%;
  }

  #team .overlay-content {
    padding-top: 30px;
    padding-right: 30px;
  }

  .team .inner-content .overlay-content {
    top: 78px;
  }

  #overview .selection {
    width: 100%;
  }

  #overview h3 {
    font-size: 1.5rem;
  }

  #slider {
    margin-top: 100px !important;
  }

  #slider #slider-carousel {
    width: 100vw;
  }

  .carousel-main,
  .carousel-container {
    width: 95vw;
    padding: 2vw;
    height: 100%;
  }

  #slider #slider-carousel img {
    height: 90vh;
  }

  #slider #slider-carousel h1 {
    font-size: 2rem !important;
    margin-top: 100px;
    height: 170px;
  }

  #slider p {
    display: none;
  }

  #slider #slider-carousel a {
    width: 100vw;
  }

  #image_gallery .carousel-feature {}

  #image_gallery {
    padding-bottom: 150px;
  }

  #image_gallery .carousel-container .carousel-image {
    width: 60vw;
    height: 40vw;
  }

  #image_gallery p {
    font-size: 1rem;
    background: #7f8fa6;
    color: white;
    font-weight: bold !important;
    box-shadow: 1px 1px 1px gray;
  }

  .carousel-main,
  .carousel-container {
    width: 95vw;
    padding: 2vw;
  }

  #slider {
    margin: 0;
  }
}